/* Global styles come from external css https://codepen.io/GreenSock/pen/xxmzBrw/fcaef74061bb7a76e5263dfc076c363e.css
 */  
  .box {
    display: block;
    margin-top: 1rem;
  }

  #container{
    margin-top: 100vh;
  }
  .punchline{
    opacity: 0;
  }
  
  .pink {
    background-color: pink;
  }

  #allemagne{
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  .noir, .rouge, .jaune{
    height: 33vh;
  }

  .noir{
    background-color: black;
  }

  .rouge{
    background-color: red;
  }

  .jaune{
    background-color: yellow;
  }

  #test {
    font-size: 3em;
    text-align: right;
    width: 850px;
  }

  *{
    box-sizing: border-box;
    margin: 0 auto;
  }

  section{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background:top / cover no-repeat url('Univers.jpg') ;
  }